{
  "openapi": "3.0.1",
  "info": {
    "title": "Growi API",
    "description": "API documentation for Growi platform, showcasing the public tracking event endpoint",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.growi.io/api/public/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tracking_events": {
      "post": {
        "description": "Creates a new tracking event associated with a campaign creator",
        "requestBody": {
          "description": "Tracking event to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTrackingEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tracking event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign Affiliate does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/snapshots": {
      "get": {
        "description": "Retrieves time-series data for content engagement metrics within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshots retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Snapshots data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/content_platform_composition": {
      "get": {
        "description": "Retrieves a breakdown of content by platform within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Content platform composition retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Content platform composition data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/content_24h_data": {
      "get": {
        "description": "Retrieves 24-hour views and engagement metrics with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Content 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Content 24h data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/creators_24h": {
      "get": {
        "description": "Retrieves newly joined creators data with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Creators 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Creators 24h data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_engagement": {
      "get": {
        "description": "Retrieves your top-performing creators ranked by total engagement within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by engagement retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top creators by engagement data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_gmv": {
      "get": {
        "description": "Retrieves your top-performing creators ranked by GMV within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by GMV retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top creators by GMV data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_posts_by_views": {
      "get": {
        "description": "Retrieves your top-performing posts ranked by views within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top posts by views retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top posts by views data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/tik_tok_shop_gmv_24h": {
      "get": {
        "description": "Retrieves TikTok Shop GMV data for the last 24 hours",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "TikTok Shop GMV 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "TikTok Shop GMV 24h data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/manual_campaign_progress": {
      "get": {
        "description": "Retrieves the progress of manual campaigns",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Manual campaign progress data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Manual campaign progress data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_connected_accounts_by_engagement": {
      "get": {
        "description": "Retrieves your top-performing social accounts ranked by engagement within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top connected accounts by engagement retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top connected accounts by engagement data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_posts": {
      "get": {
        "description": "Retrieves your most active creators ranked by post count within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by posts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top creators by posts data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_earning_creators": {
      "get": {
        "description": "Retrieves your top creators ranked by earnings within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Top earning creators retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top earning creators data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/payouts_24h": {
      "get": {
        "description": "Retrieves payout data with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Payouts 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Payouts 24h data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/user_contents": {
      "get": {
        "description": "Retrieves all user content creation data within a date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "05/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "05/08/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "05/08/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "User contents data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "User contents data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/refresh_data": {
      "post": {
        "description": "Refreshes and re-syncs all creator social accounts data. This endpoint triggers a background job to update content snapshots and synchronize creator data across all connected platforms.",
        "responses": {
          "200": {
            "description": "Data refresh initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewTrackingEvent": {
        "type": "object",
        "required": ["event_name"],
        "properties": {
          "event_name": {
            "type": "string",
            "enum": [
              "cart_viewed",
              "checkout_address_info_submitted",
              "checkout_completed",
              "checkout_contact_info_submitted",
              "checkout_shipping_info_submitted",
              "checkout_started",
              "collection_viewed",
              "page_viewed",
              "payment_info_submitted",
              "product_added_to_cart",
              "product_removed_from_cart",
              "product_viewed",
              "search_submitted",
              "payment_completed",
              "app_installed",
              "app_uninstalled"
            ],
            "description": "Name of the event"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the event occurred"
          },
          "visitor_uid": {
            "type": "string",
            "description": "Unique identifier for the visitor"
          },
          "event_data": {
            "type": "object",
            "description": "Additional data related to the event"
          },
          "subtotal": {
            "type": "integer",
            "description": "Subtotal amount of the transaction in cents. For example, for $40, input 4000.",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "enum": ["usd", "eur", "gbp"],
            "description": "Currency of the transaction",
            "nullable": true
          },
          "conversion_platform": {
            "type": "string",
            "enum": ["shopify", "tik_tok_shop", "ios", "stripe", "whop"],
            "description": "Which platform the conversion happened on",
            "nullable": false
          },
          "order_id": {
            "type": "string",
            "description": "ID of the order",
            "nullable": true
          },
          "order_type": {
            "type": "string",
            "enum": ["one_time", "subscription"],
            "description": "Type of the order",
            "nullable": true
          },
          "payment_id": {
            "type": "string",
            "description": "ID of the payment",
            "nullable": true
          },
          "external_user_id": {
            "type": "string",
            "description": "External user ID associated with the event",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity involved in the event"
          },
          "campaign_affiliate_id": {
            "type": "string",
            "description": "Tag of the campaign affiliate associated with the event. Not required when `order_id` is present and the order is a recurring subscription."
          },
          "subscription_start_date": {
            "type": "integer",
            "description": "UTC integer timestamp for the start of the subscription. Required only for subscription events."
          },
          "subscription_end_date": {
            "type": "integer",
            "description": "UTC integer timestamp for the end of the subscription. Required only for subscription events."
          },
          "product_id": {
            "type": "string",
            "description": "The product or plan ID associated with the purchase. Required only for payment events."
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Endpoint-specific data"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
