{
  "openapi": "3.0.1",
  "info": {
    "title": "Growi API",
    "description": "API documentation for Growi platform, showcasing the public tracking event endpoint",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.growi.io/api/public/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tracking_events": {
      "post": {
        "description": "Creates a new tracking event associated with a campaign creator",
        "requestBody": {
          "description": "Tracking event to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTrackingEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tracking event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign Affiliate does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/snapshots": {
      "get": {
        "description": "Retrieves time-series data for content engagement metrics within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "campaign_id",
            "in": "query",
            "required": false,
            "example": 16425,
            "schema": {
              "type": "integer"
            },
            "description": "Filter snapshots by specific campaign ID. You can get campaign IDs from the [Get Campaigns](/api-reference/endpoint/get-campaigns) endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshots retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Snapshots data",
                      "properties": {
                        "snapshots": {
                          "type": "array",
                          "description": "One entry per day in the date range",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "The date for this snapshot in YYYY-MM-DD format"
                              },
                              "total_views": {
                                "type": "integer",
                                "description": "Total number of views for all content on this date"
                              },
                              "total_likes": {
                                "type": "integer",
                                "description": "Total number of likes for all content on this date"
                              },
                              "total_comments": {
                                "type": "integer",
                                "description": "Total number of comments for all content on this date"
                              },
                              "total_shares": {
                                "type": "integer",
                                "description": "Total number of shares for all content on this date"
                              },
                              "total_saves": {
                                "type": "integer",
                                "description": "Total number of saves for all content on this date"
                              },
                              "total_posts_count": {
                                "type": "integer",
                                "description": "Total number of posts created on this date"
                              },
                              "user_content_ids": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                },
                                "description": "List of user content IDs associated with this date"
                              },
                              "organization_id": {
                                "type": "integer",
                                "description": "Organization ID if applicable"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/content_platform_composition": {
      "get": {
        "description": "Retrieves a breakdown of content by platform within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Content platform composition retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Content platform composition data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/content_24h_data": {
      "get": {
        "description": "Retrieves 24-hour views and engagement metrics with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Content 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Content 24h data",
                      "properties": {
                        "content_24h_data": {
                          "type": "object",
                          "description": "One array per metric",
                          "properties": {
                            "views_24h": {
                              "type": "array",
                              "description": "Daily views with the previous-period comparison",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "description": "Unix timestamp for the current day"
                                  },
                                  "last_date": {
                                    "type": "object",
                                    "description": "Unix timestamp for the comparison day (1 week before)"
                                  },
                                  "current": {
                                    "type": "object",
                                    "description": "Number of views/likes for the current day"
                                  },
                                  "last": {
                                    "type": "object",
                                    "description": "Number of views/likes for the comparison day"
                                  },
                                  "total": {
                                    "type": "object",
                                    "description": "Running total as of the latest date"
                                  },
                                  "last_total": {
                                    "type": "object",
                                    "description": "Running total as of the comparison period's latest date"
                                  }
                                }
                              }
                            },
                            "likes_24h": {
                              "type": "array",
                              "description": "Daily likes with the previous-period comparison",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "object",
                                    "description": "Unix timestamp for the current day"
                                  },
                                  "last_date": {
                                    "type": "object",
                                    "description": "Unix timestamp for the comparison day (1 week before)"
                                  },
                                  "current": {
                                    "type": "object",
                                    "description": "Number of views/likes for the current day"
                                  },
                                  "last": {
                                    "type": "object",
                                    "description": "Number of views/likes for the comparison day"
                                  },
                                  "total": {
                                    "type": "object",
                                    "description": "Running total as of the latest date"
                                  },
                                  "last_total": {
                                    "type": "object",
                                    "description": "Running total as of the comparison period's latest date"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/creators_24h": {
      "get": {
        "description": "Retrieves daily creator metrics tracking both new creators (who joined your database) and active creators (who made posts) with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          }
        ],
        "responses": {
          "200": {
            "description": "Creators 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "creators_24h": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "2025-09-06",
                                "description": "Date string for the current day (YYYY-MM-DD format)"
                              },
                              "last_date": {
                                "type": "string",
                                "example": "2025-06-29",
                                "description": "Date string for the comparison day from the previous period (YYYY-MM-DD format)"
                              },
                              "current_new": {
                                "type": "integer",
                                "example": 16,
                                "description": "Number of new creators who joined on the current date"
                              },
                              "last_new": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of new creators who joined on the comparison date"
                              },
                              "total_new": {
                                "type": "integer",
                                "example": 27,
                                "description": "Cumulative total of new creators in the current period"
                              },
                              "last_total_new": {
                                "type": "integer",
                                "example": 24,
                                "description": "Cumulative total of new creators in the comparison period"
                              },
                              "current_active": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of creators who made posts on the current date"
                              },
                              "last_active": {
                                "type": "integer",
                                "example": 0,
                                "description": "Number of creators who made posts on the comparison date"
                              },
                              "total_active": {
                                "type": "integer",
                                "example": 1,
                                "description": "Cumulative total of active creators in the current period"
                              },
                              "last_total_active": {
                                "type": "integer",
                                "example": 1,
                                "description": "Cumulative total of active creators in the comparison period"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_engagement": {
      "get": {
        "description": "Retrieves your top-performing creators ranked by total engagement within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by engagement retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top creators by engagement data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_gmv": {
      "get": {
        "description": "Retrieves your top-performing creators ranked by GMV within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Maximum is 20."
          },
          {
            "name": "include_discord",
            "in": "query",
            "required": false,
            "example": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include Discord account ID and username for creators. Default is false."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "example": 123,
            "schema": {
              "type": "integer"
            },
            "description": "Filter results by specific organization ID"
          },
          {
            "name": "campaign_id",
            "in": "query",
            "required": false,
            "example": 16503,
            "schema": {
              "type": "integer"
            },
            "description": "Filter results by specific campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by GMV retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indicates whether the request was successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "top_creators_by_gmv": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "brand_name": {
                                "type": "string",
                                "example": "Example Brand",
                                "description": "Name of the brand the creator is associated with"
                              },
                              "id": {
                                "type": "integer",
                                "example": 12,
                                "description": "Unique identifier for the creator"
                              },
                              "name": {
                                "type": "string",
                                "example": "John Doe",
                                "description": "Display name of the creator"
                              },
                              "email": {
                                "type": "string",
                                "example": "john.doe@example.com",
                                "description": "Email address of the creator"
                              },
                              "total_gmv": {
                                "type": "number",
                                "example": 1284.53,
                                "description": "Total GMV generated by the creator"
                              },
                              "social_accounts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "connected_account_username": {
                                      "type": "string",
                                      "example": "johndoe_official",
                                      "description": "Username on the social media platform"
                                    },
                                    "platform_name": {
                                      "type": "string",
                                      "example": "tik_tok",
                                      "description": "Name of the social media platform"
                                    },
                                    "profile_share_url": {
                                      "type": "string",
                                      "example": "https://www.tiktok.com/@johndoe_official",
                                      "description": "Direct URL to the creator's profile"
                                    },
                                    "total_gmv": {
                                      "type": "number",
                                      "example": 1284.53,
                                      "description": "Total GMV generated through this specific social account"
                                    }
                                  }
                                },
                                "description": "Array of connected social media accounts"
                              },
                              "discord_id": {
                                "type": "string",
                                "example": "779513406264180746",
                                "description": "Discord user ID (included when `include_discord=true`)"
                              },
                              "discord_username": {
                                "type": "string",
                                "example": "johndoe",
                                "description": "Discord username (included when `include_discord=true`)"
                              },
                              "campaigns": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "campaign_id": {
                                      "type": "integer",
                                      "description": "Unique identifier for the campaign"
                                    },
                                    "campaign_name": {
                                      "type": "string",
                                      "description": "Name of the campaign"
                                    },
                                    "total_gmv": {
                                      "type": "number",
                                      "description": "Total GMV generated by the creator for this campaign"
                                    }
                                  }
                                },
                                "description": "Array of campaigns the creator is associated with"
                              },
                              "brands": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                },
                                "description": "Array of brand names the creator is associated with"
                              }
                            }
                          },
                          "description": "Array of creator objects ranked by GMV"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer",
                              "example": 4,
                              "description": "Current page number"
                            },
                            "per_page": {
                              "type": "integer",
                              "example": 4,
                              "description": "Number of results per page"
                            },
                            "row_count": {
                              "type": "integer",
                              "example": 448,
                              "description": "Total number of rows/records"
                            },
                            "page_count": {
                              "type": "integer",
                              "example": 112,
                              "description": "Total number of pages"
                            },
                            "has_more": {
                              "type": "boolean",
                              "example": true,
                              "description": "Whether there are more pages available"
                            }
                          },
                          "description": "Pagination metadata"
                        }
                      },
                      "description": "Container for the response data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_posts_by_views": {
      "get": {
        "description": "Retrieves your top-performing posts ranked by views within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format. Defines the metrics-delta window (the period over which view/like/comment/share gains are summed for ranking)."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format. Defines the metrics-delta window (the period over which view/like/comment/share gains are summed for ranking)."
          },
          {
            "name": "posted_at_start_date",
            "in": "query",
            "required": false,
            "example": "10/15/2025",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date in MM/DD/YYYY format. Restricts the ranked post set to posts created on or after this date (based on `posted_at`). Must be supplied together with `posted_at_end_date`."
          },
          {
            "name": "posted_at_end_date",
            "in": "query",
            "required": false,
            "example": "11/01/2025",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date in MM/DD/YYYY format. Restricts the ranked post set to posts created on or before this date (based on `posted_at`). Must be supplied together with `posted_at_start_date`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "example": 40,
            "schema": {
              "type": "integer",
              "default": 40,
              "maximum": 100
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          },
          {
            "name": "include_gmv",
            "in": "query",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include GMV (Gross Merchandise Value) data for each post. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "Top posts by views retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "top_posts_by_views": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 100001,
                                "description": "Unique identifier for the post"
                              },
                              "title": {
                                "type": "string",
                                "example": "Latest tech trends for 2024!",
                                "description": "Post title or caption"
                              },
                              "share_url": {
                                "type": "string",
                                "example": "https://www.instagram.com/p/ABC123xyz/",
                                "description": "Direct URL to the post"
                              },
                              "platform": {
                                "type": "string",
                                "example": "instagram",
                                "description": "Social media platform (e.g., \"tik_tok\", \"instagram\", \"youtube\")"
                              },
                              "content_type": {
                                "type": "string",
                                "example": "image",
                                "description": "Type of content (e.g., \"video\", \"image\")"
                              },
                              "external_id": {
                                "type": "string",
                                "example": "ABC123xyz",
                                "description": "External platform identifier for the post"
                              },
                              "username": {
                                "type": "string",
                                "example": "tech.trends",
                                "description": "Username of the creator"
                              },
                              "name": {
                                "type": "string",
                                "example": "Tech Trends",
                                "description": "Display name of the creator"
                              },
                              "profile_share_url": {
                                "type": "string",
                                "example": "https://www.instagram.com/tech.trends",
                                "description": "URL to the creator's profile"
                              },
                              "metrics": {
                                "type": "object",
                                "properties": {
                                  "views": {
                                    "type": "integer",
                                    "example": 365558,
                                    "description": "Total views for the post"
                                  },
                                  "likes": {
                                    "type": "integer",
                                    "example": 12460,
                                    "description": "Total likes for the post"
                                  },
                                  "comments": {
                                    "type": "integer",
                                    "example": 37,
                                    "description": "Total comments for the post"
                                  },
                                  "shares": {
                                    "type": "integer",
                                    "example": 5970,
                                    "description": "Total shares for the post"
                                  }
                                },
                                "description": "Object containing engagement metrics (views, likes, comments, shares) Engagement metrics for the post"
                              },
                              "gmv": {
                                "type": "string",
                                "example": "$1,284.53",
                                "description": "Gross Merchandise Value for the post (only included when `include_gmv=true`)"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/tik_tok_shop_gmv_24h": {
      "get": {
        "description": "Retrieves TikTok Shop Gross Merchandise Value (GMV) data with daily breakdown and comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/04/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/04/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/03/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/03/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          }
        ],
        "responses": {
          "200": {
            "description": "TikTok Shop GMV 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tik_tok_shop_gmv_24h": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "example": "2025-10-04",
                                "description": "The date for this data point (YYYY-MM-DD format)"
                              },
                              "last_date": {
                                "type": "integer",
                                "example": 1756872000,
                                "description": "Unix timestamp for the corresponding date in the previous period"
                              },
                              "current": {
                                "type": "string",
                                "example": "$1,985.10",
                                "description": "GMV for the current date (formatted as currency string)"
                              },
                              "last": {
                                "type": "string",
                                "example": "$2,684.88",
                                "description": "GMV for the corresponding date in the previous period (formatted as currency string)"
                              },
                              "total": {
                                "type": "string",
                                "example": "$55,991.01",
                                "description": "Cumulative GMV total for the current period (formatted as currency string)"
                              },
                              "last_total": {
                                "type": "string",
                                "example": "$78,445.73",
                                "description": "Cumulative GMV total for the previous period (formatted as currency string)"
                              },
                              "order_count": {
                                "type": "integer",
                                "example": 68,
                                "description": "Number of orders on the current date"
                              },
                              "last_order_count": {
                                "type": "integer",
                                "example": 99,
                                "description": "Number of orders on the corresponding date in the previous period"
                              },
                              "total_order_count": {
                                "type": "integer",
                                "example": 1759,
                                "description": "Cumulative order count for the current period"
                              },
                              "last_total_order_count": {
                                "type": "integer",
                                "example": 2489,
                                "description": "Cumulative order count for the previous period"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/tik_tok_shop_products": {
      "get": {
        "description": "Retrieves TikTok Shop product-level Gross Merchandise Value (GMV) data with aggregated statistics",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/04/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/04/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/03/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/03/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          }
        ],
        "responses": {
          "200": {
            "description": "TikTok Shop Products data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tik_tok_shop_products": {
                          "type": "object",
                          "properties": {
                            "products": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "product_id": {
                                    "type": "string",
                                    "example": "1729548090545311965",
                                    "description": "Unique identifier for the TikTok Shop product"
                                  },
                                  "product_name": {
                                    "type": "string",
                                    "example": "Peach Perfect Inositol Multivitamin - Peach Perfect Myo-Inositol, D-Chiro Inositol, Omega 3 Fitness Healthcare",
                                    "description": "Full name/title of the product"
                                  },
                                  "total_gmv": {
                                    "type": "number",
                                    "format": "float",
                                    "example": 127054.59,
                                    "description": "Total Gross Merchandise Value (revenue) generated by this product"
                                  },
                                  "total_orders": {
                                    "type": "integer",
                                    "example": 4086,
                                    "description": "Total number of orders for this product"
                                  },
                                  "unique_videos": {
                                    "type": "integer",
                                    "example": 456,
                                    "description": "Number of unique videos that promoted this product"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/manual_campaign_progress": {
      "get": {
        "description": "Retrieves the progress of manual campaigns",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Manual campaign progress data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Manual campaign progress data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_connected_accounts_by_engagement": {
      "get": {
        "description": "Retrieves your top-performing social accounts ranked by engagement within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Top connected accounts by engagement retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top connected accounts by engagement data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_creators_by_posts": {
      "get": {
        "description": "Retrieves your most active creators ranked by post count within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Top creators by posts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top creators by posts data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/top_earning_creators": {
      "get": {
        "description": "Retrieves your top creators ranked by earnings within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Top earning creators retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Top earning creators data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/payouts_24h": {
      "get": {
        "description": "Retrieves payout data with comparison to previous period",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          }
        ],
        "responses": {
          "200": {
            "description": "Payouts 24h data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "description": "Payouts 24h data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/user_contents": {
      "get": {
        "description": "Retrieves all user content creation data within a date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "10/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "10/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "11/14/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "11/14/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "example": 4,
            "schema": {
              "type": "integer",
              "default": 4
            },
            "description": "Limit the number of results. Default is 4. Recommended is 20. Set to 10,000 to get all data."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "example": 40,
            "schema": {
              "type": "integer",
              "default": 40,
              "maximum": 100
            },
            "description": "Number of results per page. Default is 40. Maximum is 100."
          },
          {
            "name": "include_all_time_views",
            "in": "query",
            "required": false,
            "example": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include the post's current all-time views in the response. Default is false."
          },
          {
            "name": "posted_at_sort",
            "in": "query",
            "required": false,
            "example": "desc",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort results by posted date. Valid values: `asc` (oldest first) or `desc` (newest first). Case-insensitive. If not provided or invalid, no sorting is applied."
          }
        ],
        "responses": {
          "200": {
            "description": "User contents data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "description": "Indicates if the request was successful"
                    },
                    "data": {
                      "type": "object",
                      "description": "User contents data",
                      "properties": {
                        "user_contents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "create_time": {
                                "type": "integer",
                                "description": "Unix timestamp of when the content was created"
                              },
                              "platform": {
                                "type": "string",
                                "description": "Platform where the content was posted (`tik_tok` or `instagram`)"
                              },
                              "connected_account_id": {
                                "type": "integer",
                                "description": "ID of the connected account that posted the content"
                              },
                              "username": {
                                "type": "string",
                                "description": "Username of the creator"
                              },
                              "profile_share_url": {
                                "type": "string",
                                "description": "Direct URL to the creator's profile"
                              },
                              "date": {
                                "type": "string",
                                "description": "Date when the content was posted (format: \"MMM DD\")"
                              },
                              "sorted_dates": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                },
                                "description": "Array of all available dates in \"MMM DD\" format for filtering"
                              },
                              "total_views": {
                                "type": "integer",
                                "description": "Total views within the specified date range (start_date to end_date)"
                              },
                              "all_time_views": {
                                "type": "integer",
                                "description": "The post's current all-time views (only included when `include_all_time_views=true`)"
                              },
                              "share_url": {
                                "type": "string",
                                "description": "Direct URL to the content on the platform"
                              }
                            }
                          },
                          "description": "Array of user content objects"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "description": "Current page number for pagination"
                        },
                        "per_page": {
                          "type": "integer",
                          "description": "Number of results per page"
                        },
                        "row_count": {
                          "type": "integer",
                          "description": "Total number of results across all pages"
                        },
                        "page_count": {
                          "type": "integer",
                          "description": "Total number of pages available"
                        },
                        "has_more": {
                          "type": "boolean",
                          "description": "Indicates if there are more pages available"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/refresh_data": {
      "post": {
        "description": "Refreshes and re-syncs all creator social accounts data. This endpoint triggers a background job to update content snapshots and synchronize creator data across all connected platforms.",
        "responses": {
          "200": {
            "description": "Data refresh initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/transactions": {
      "get": {
        "description": "Retrieves transaction history including payments, payouts, deposits, withdrawals, and disputes with detailed financial information",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "example": 10,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Number of results per page. Default is 10. Maximum is 100."
          },
          {
            "name": "child_organization_id",
            "in": "query",
            "required": false,
            "example": 123,
            "schema": {
              "type": "integer"
            },
            "description": "Filter transactions by specific child organization ID"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "example": "10/01/25",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter transactions from this date (MM/DD/YYYY format)"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "example": "10/31/25",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter transactions until this date (MM/DD/YYYY format)"
          },
          {
            "name": "transaction_type",
            "in": "query",
            "required": false,
            "example": "payout",
            "schema": {
              "type": "string",
              "enum": [
                "payment",
                "payout",
                "deposit",
                "withdrawal",
                "dispute"
              ]
            },
            "description": "Filter by transaction type (payment, payout, deposit, withdrawal, dispute)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "example": "Sophia",
            "schema": {
              "type": "string"
            },
            "description": "Search transactions by creator name"
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 5525,
                            "description": "Unique identifier for the transaction"
                          },
                          "formatted_amount": {
                            "type": "string",
                            "example": "-$1,250.00",
                            "description": "Transaction amount in formatted currency with sign (amounts are in cents)"
                          },
                          "transaction_type": {
                            "type": "string",
                            "example": "Payout",
                            "description": "Type of transaction (Payment, Payout, Deposit, etc.)"
                          },
                          "currency": {
                            "type": "string",
                            "example": "usd",
                            "description": "Currency code (e.g., \"usd\")"
                          },
                          "status": {
                            "type": "string",
                            "example": "Paid",
                            "description": "Transaction status (Paid, Available, Failed, etc.)"
                          },
                          "source": {
                            "type": "string",
                            "example": "Balance",
                            "description": "Transaction source (Balance, External, etc.)"
                          },
                          "destination": {
                            "type": "string",
                            "example": "Multiple Creators",
                            "description": "Transaction destination"
                          },
                          "created": {
                            "type": "integer",
                            "example": 1759952556,
                            "description": "Unix timestamp of transaction creation"
                          },
                          "organization_name": {
                            "type": "string",
                            "example": "Growi",
                            "description": "Name of the organization"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "row_count": {
                          "type": "integer",
                          "example": 42,
                          "description": "Total number of transactions"
                        },
                        "page_count": {
                          "type": "integer",
                          "example": 3,
                          "description": "Total number of pages"
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "description": "Current page number"
                        }
                      }
                    },
                    "additional_data": {
                      "type": "object",
                      "properties": {
                        "amount_sum": {
                          "type": "number",
                          "example": 7283.73,
                          "description": "Total available balance amount (in cents)"
                        },
                        "fee_sum": {
                          "type": "number",
                          "example": -557.4,
                          "description": "Total fees collected (in cents)"
                        },
                        "payout_sum": {
                          "type": "number",
                          "example": -11916.27,
                          "description": "Total payout amount (negative value, in cents)"
                        },
                        "payment_sum": {
                          "type": "number",
                          "example": 19200,
                          "description": "Total payment amount received (in cents)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key or viewer role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/ambassadors": {
      "get": {
        "description": "Retrieves all ambassadors from ambassador program campaigns for the organization. Returns ambassador profile information including their social accounts, custom field answers from their application, and contact details.",
        "parameters": [
          {
            "name": "require_application",
            "in": "query",
            "required": false,
            "example": "true",
            "schema": {
              "type": "string",
              "default": "true"
            },
            "description": "Filter to only ambassadors who submitted an application. Pass `false` to include all ambassadors. Default is `true`."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "example": 20,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Number of results per page. Default is 20. Maximum is 100."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "example": "creator@example.com",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email (comma-separated for multiple)"
          },
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "example": "Natalie",
            "schema": {
              "type": "string"
            },
            "description": "Filter by first name (partial match)"
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "example": "Garay",
            "schema": {
              "type": "string"
            },
            "description": "Filter by last name (partial match)"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "example": "natalie",
            "schema": {
              "type": "string"
            },
            "description": "Search by email or name"
          },
          {
            "name": "approved_at_from",
            "in": "query",
            "required": false,
            "example": "2024-01-01",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter ambassadors approved on or after this date (YYYY-MM-DD format)"
          },
          {
            "name": "approved_at_to",
            "in": "query",
            "required": false,
            "example": "2024-12-31",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter ambassadors approved on or before this date (YYYY-MM-DD format)"
          },
          {
            "name": "campaign_id",
            "in": "query",
            "required": false,
            "example": 123,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campaign ID. Pass a single ID or array of IDs (e.g., `campaign_id[]=123&campaign_id[]=456`)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ambassadors retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaign_affiliate_id": {
                            "type": "integer",
                            "example": 3490313,
                            "description": "Unique identifier for the campaign affiliate"
                          },
                          "user_id": {
                            "type": "integer",
                            "example": 2628998,
                            "description": "Unique identifier for the user"
                          },
                          "email": {
                            "type": "string",
                            "example": "creator@example.com",
                            "description": "Ambassador's email address"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Natalie",
                            "description": "Ambassador's first name"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Garay",
                            "description": "Ambassador's last name"
                          },
                          "name": {
                            "type": "string",
                            "example": "Natalie Garay",
                            "description": "Ambassador's full name"
                          },
                          "joined_at": {
                            "type": "string",
                            "example": "2026-01-16T20:15:36Z",
                            "description": "ISO 8601 timestamp when the ambassador joined"
                          },
                          "social_accounts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "username": {
                                  "type": "string",
                                  "example": "nataliemgaray",
                                  "description": "Username on the platform"
                                },
                                "platform": {
                                  "type": "string",
                                  "example": "Instagram",
                                  "description": "Platform name (e.g., \"Instagram\", \"Tik Tok\", \"Youtube\")"
                                },
                                "profile_share_url": {
                                  "type": "string",
                                  "example": "https://www.instagram.com/nataliemgaray/",
                                  "description": "Direct URL to the profile"
                                }
                              }
                            },
                            "description": "Array of connected social media accounts"
                          },
                          "custom_field_answers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "question": {
                                  "type": "string",
                                  "example": "What college do you attend?",
                                  "description": "The custom field question"
                                },
                                "answer": {
                                  "type": "string",
                                  "example": "UCLA",
                                  "description": "The ambassador's answer (can be text or image URL)"
                                },
                                "field_type": {
                                  "type": "string",
                                  "example": "text",
                                  "description": "Type of field: \"text\", \"image\", \"number\", etc."
                                }
                              }
                            },
                            "description": "Array of application custom field responses"
                          },
                          "user_location": {
                            "type": "string",
                            "example": "Temecula, CA 92591, US",
                            "description": "Ambassador's location"
                          },
                          "user_phone_number": {
                            "type": "string",
                            "nullable": true,
                            "example": "+15551234567",
                            "description": "Ambassador's phone number (may be null)"
                          },
                          "approved_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-16T20:15:36Z",
                            "description": "ISO 8601 timestamp when the ambassador application was approved"
                          },
                          "campaign_id": {
                            "type": "integer",
                            "example": 123,
                            "description": "ID of the ambassador program campaign"
                          },
                          "campaign_name": {
                            "type": "string",
                            "example": "Ambassador Program",
                            "description": "Name of the ambassador program campaign"
                          }
                        }
                      },
                      "description": "Array of ambassador objects"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_ambassadors": {
                          "type": "integer",
                          "example": 150,
                          "description": "Total number of ambassadors matching the query"
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "description": "Current page number"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 20,
                          "description": "Number of results per page"
                        },
                        "total_pages": {
                          "type": "integer",
                          "example": 8,
                          "description": "Total number of pages available"
                        }
                      },
                      "description": "Pagination metadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/query_ambassador_sales": {
      "get": {
        "description": "Retrieves detailed ambassador sales data including order information, commission amounts, and program details within a specified date range",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "example": "09/01/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "09/01/2025"
            },
            "description": "Start date in MM/DD/YYYY format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "example": "09/30/2025",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "09/30/2025"
            },
            "description": "End date in MM/DD/YYYY format"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination. Default is 1."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "example": 20,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Number of results per page. Default is 20. Maximum is 100."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "example": "all",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "paid",
                "due",
                "pending",
                "canceled",
                "refunded"
              ],
              "default": "all"
            },
            "description": "Filter by status: `paid`, `due`, `pending`, `canceled`, or `refunded` Filter by sale status"
          },
          {
            "name": "creator_email",
            "in": "query",
            "required": false,
            "example": "example@gmail.com",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Filter results by the creator’s (ambassador’s) email address"
          },
          {
            "name": "affiliate_tag",
            "in": "query",
            "required": false,
            "example": "SUMMER2025",
            "schema": {
              "type": "string"
            },
            "description": "Filter by affiliate tag"
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "example": "1234567890",
            "schema": {
              "type": "string"
            },
            "description": "Filter by a Shopify order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Ambassador sales retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1947457,
                            "description": "Unique identifier for the sale record"
                          },
                          "ambassador": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Amanda Paradis",
                                "description": "Display name of the ambassador"
                              },
                              "email": {
                                "type": "string",
                                "example": "amanda@example.com",
                                "description": "Email address of the ambassador"
                              },
                              "avatar_url": {
                                "type": "string",
                                "nullable": true,
                                "description": "URL to the ambassador's avatar image (null if not available)"
                              }
                            },
                            "description": "Ambassador information"
                          },
                          "program": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 123,
                                "description": "Unique identifier for the program"
                              },
                              "name": {
                                "type": "string",
                                "example": "Ambassador Program",
                                "description": "Name of the ambassador program"
                              },
                              "affiliate_status": {
                                "type": "string",
                                "example": "active",
                                "description": "Status of the affiliate (e.g., \"active\")"
                              }
                            },
                            "description": "Program information"
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1024995,
                                "description": "Unique identifier for the order"
                              },
                              "total": {
                                "type": "string",
                                "example": "$291.70",
                                "description": "Total order amount in formatted currency"
                              },
                              "subtotal": {
                                "type": "string",
                                "example": "$276.50",
[...]
