{
  "openapi": "3.0.1",
  "info": {
    "title": "Growi API",
    "description": "API documentation for Growi platform, showcasing the public tracking event endpoint",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.growi.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tracking_events": {
      "post": {
        "description": "Creates a new tracking event associated with a campaign affiliate",
        "requestBody": {
          "description": "Tracking event to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTrackingEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tracking event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign Affiliate does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewTrackingEvent": {
        "type": "object",
        "required": ["event_name", "occurred_at", "visitor_uid", "campaign_affiliate_id"],
        "properties": {
          "event_name": {
            "type": "string",
            "description": "Name of the event"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the event occurred"
          },
          "visitor_uid": {
            "type": "string",
            "description": "Unique identifier for the visitor"
          },
          "event_data": {
            "type": "string",
            "description": "Additional data related to the event"
          },
          "subtotal": {
            "type": "number",
            "format": "float",
            "description": "Subtotal amount of the transaction"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the transaction"
          },
          "order_id": {
            "type": "string",
            "description": "ID of the order"
          },
          "order_type": {
            "type": "string",
            "description": "Type of the order"
          },
          "payment_id": {
            "type": "string",
            "description": "ID of the payment"
          },
          "external_user_id": {
            "type": "string",
            "description": "External user ID associated with the event"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity involved in the event"
          },
          "campaign_affiliate_id": {
            "type": "string",
            "description": "ID of the campaign affiliate associated with the event"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
